{{ ansible_managed | comment }}
dev tun
auth-nocache
ifconfig {{ openvpn_network_client }} {{ openvpn_network_gw }}
cipher AES-256-CBC
persist-tun
persist-key
user nobody
remote {{ labhost_wan_address }}
secret {{ local_user_home }}/.cert/{{ inventory_hostname }}-vpn.key 
{% if networks is defined and networks is iterable %}
{% for network in networks %}
route {{ network.subnet[:-3]  }} {{ network.subnet | ipaddr('netmask') }} {{ openvpn_network_gw }}
{% endfor %}
{% else %}
# No networks defined in libvirt_networks:
# so no routes added
{% endif %}
dhcp-option DNS {{ openvpn_network_gw }}                                                                                    
dhcp-option DOMAIN {{ domain | default('example.org') }}
tls-client
