dev tun
auth-nocache
ifconfig {{ openvpn_network_client }} {{ openvpn_network_gw }}
cipher AES-256-CBC
persist-tun
persist-key
user nobody
remote {{ inventory_hostname }}
secret static.key
{% if libvirt_networks is defined %}
{% for network in libvirt_networks %}
route {{ network.subnet[:-3]  }} {{ network.subnet | ipaddr('netmask') }} {{ openvpn_network_gw }}
{% endfor %}
{% else %}
# No networks defined in libvirt_networks:
# so no routes added
{% endif %}
