#{{ ansible_managed }}
dev tun
ifconfig {{ openvpn_network_gw }} {{ openvpn_network_client }}
cipher AES-256-CBC
keepalive 10 60
ping-timer-rem
persist-tun
persist-key
cipher AES-256-CBC
secret static.key

