# This is the Hetzner installimage config template 

DRIVE1 /dev/sda
DRIVE2 /dev/sdb

SWRAID 1
SWRAIDLEVEL 1

BOOTLOADER grub

HOSTNAME {{ hostname }}

PART /boot ext3 512M
PART lvm vg0 all
# 	VG_root VG_suffix 	Mount   fs	size
LV vg0	root		/	xfs	20G
LV vg0	swap		swap	swap	10G
LV vg0	tmp		/tmp	xfs	5G
LV vg0	home		/home	xfs	10G
LV vg0	var		/var	xfs	1000G	

IMAGE /root/.oldroot/nfs/install/../images/CentOS-76-64-minimal.tar.gz

