---
#
#
#

- name: Allow all related and established connection on FORWARD
  iptables:
    action: insert
    rule_num: 1
    chain: FORWARD
    ctstate: ESTABLISHED,RELATED
    jump: ACCEPT
  become: yes

- name: Set default policy on FORWARD to DROP
  iptables:
    chain: FORWARD
    policy: DROP

# Now we loop through all of our libvirt_networks
# If it's a open_network, we will configure FORWARDing and lock it down ourselves
- name: Configure rules for all libvirt_networks
  include_tasks: libvirt-network.yml
  loop: "{{ libvirt_networks }}"
  loop_control:
    loop_var: network
  when: "'open_network' in network.type"

#Allow "nat_network_dhcp" to access anything
- name: allow nat_network_dhcp networks to access anything
  include_tasks: allow-nat_network_dhcp.yml
  loop: "{{ libvirt_networks }}"
  loop_control:
    loop_var: network
  when: "'nat_network_dhcp' in network.type"


# SAVE RULES
- name: Save rules
  shell: iptables-save > /etc/sysconfig/iptables

