---
# tasks file for hetzner-post-provision

- name: update all packages
  yum:
    name: "*"
    state: latest

- name: install packages
  yum:
    name: "{{ packages }}"
  vars:
    packages:
    - "@virtualization-platform"
    - "@^virtualization-host-environment"
    - iptables-services
    - virt-install
    - libguestfs-tools.noarch
    - libguestfs-xfs
    - git
    - python-lxml
    - epel-release
    - cockpit

- name: start and enable cockpit
  service:
    name: cockpit
    state: started
    enabled: true

- name: configure nested virtualization
  copy:
    src: kvm-nested.conf
    dest: /etc/modprobe.d/kvm-nested.conf
  register: nested_kvm

- name: make sure selinux is enabled
  lineinfile:
    path: /etc/sysconfig/selinux
    regexp: "^SELINUX="
    line: "SELINUX=enforcing"
  register: selinux_set_to_enforcing

- name: set autorelabel for next reboot
  file:
    dest: /.autorelabel
    state: touch
  when: selinux_set_to_enforcing.changed

- name: reboot to apply selinux changes
  import_role:
    name: reboot
  when: selinux_set_to_enforcing.changed