<network>
  <name>{{ network.name }}</name>
  <forward mode='open'/>
  <bridge name='virbr-{{ network.name }}' stp='on' delay='0'/>
  <domain name='open'/>
  <ip address="{{ network.interface_address }}" netmask="{{ netmask | default('255.255.255.0') }}">
    <dhcp>
      <range start='{{ network.dhcp_range_start }}' end='{{ network.dhcp_range_stop }}'/>
    </dhcp>
  </ip>
</network>
