<network>
  <name>{{ item.network_name }}</name>
  <forward mode='nat'/>
  <ip address='{{ item.network_interface_address }}' netmask='255.255.255.0'>
    <dhcp>
      <range start='{{ item.network_dhcp_range_start }}' end='{{ item.network_dhcp_range_stop }}'/>
    </dhcp>
  </ip>
</network>

